EnergyDataGenerator/out/
EnergyDataGenerator/data_generated.json
EnergySystemVisualization/.idea/inspectionProfiles/Project_Default.xml
EnergySystemVisualization/.idea/inspectionProfiles/
EnergyDataGenerator/.idea/workspace.xml
